@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Phudu:wght@300&display=swap');
#footer{
    background:#641717;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding:92px;
  }
  .letra{
    font-weight:bold;
  }
   #footer p{
    font-size:20px;
    color:#FFC0B0;
    display:flex;
    max-width: 300px;
    font-family: 'Lobster', cursive;
    font-family: 'Phudu', cursive;
    font-weight: bold;
  }
 
  #quem p{
    margin-left:400px;
  }
  
  #meta p{
    margin-left:100px;
  }
  #lema p{
    margin-left:50px;
  }

.quadrado{
  width:250px;
  display: flex;
  margin: 0px 0px 0px 0px;
  position: absolute;
}
.quadrado img{
  width: 100%;
}
  
  