@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Phudu:wght@300&display=swap');
#footer{
    background:#ffc0b0;
    border-top-style:solid;color:#fa9a82;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding:50px;
  }
  .letra{
    font-weight:bold;
  }
   #footer p{
    font-size:20px;
    color:brown;
    display:flex;
    max-width: 300px;
    font-family: 'Lobster', cursive;
    font-family: 'Phudu', cursive;
   
  }
  
  #quem p{
    margin-left:400px;
    padding:4px;
  }
  
  #meta p{
    margin-left:80px;
    padding:5px;
  }
  #lema p{
    margin-left:80px;
    padding:5px;
  }
  
  