* {
    margin: 0;
    padding: 0;
}
header{
  background:#641717;
  min-height: 200px;
  border-width:5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}
.logo{
  padding: 10px;
  width: 500px;
  display: flex;
}
.logo img{
  width: 100%;
}
.navbar{
  text-align:center;
}
nav ul li a {
  font-size:25px;
  text-decoration: none;
  
}
header nav ul li a{
  text-decoration: none;
  padding: 15px;
  border: 1px solid #FFC0B0;
  color: #FFC0B0;
  align-items: center;
}
header nav ul{
  display: flex;
  list-style: none;
  gap: 10px;
}
header nav ul li a:hover{
  cursor: pointer;
  box-shadow:0 5px 5px #590f0f;
  background-color:#590f0f;
  padding: 13px;
}

footer br {
  font-size:25px;
}