.content-main{
    color: #641717;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
    background-color: #FFC0B0;
    font-weight: bold;
}

.barrapesquisa{
    height: 30px;
    border: 1px solid #641717;
    width: 240px;
    border-radius: 5px;
    font-size: 1.4rem;
    background-color: #641717;
}

.barrapesquisa:focus-visible{
    outline: 1px solid #fb7406;  
}

.pesquisa{
    padding:20px;
    font-size:20px;
    color: #641717;
    background-color: #FFC0B0;
    font-weight: bold;
}


 